@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

body {
  margin: 0;
}

.storybook-header {
  font-family: 'Goldman';
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ajusta el espacio entre los elementos */
  border-bottom: 0.1px solid #505050;
  width: 100%;
  padding: 1em; /* Ajusta el espacio interior según tus necesidades */
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  max-width: 5em; /* Cambia el valor según tus preferencias */
}

.header-logout-btn {
  margin-left: auto; /* Esto empujará el botón a la esquina derecha */
}

.header-logout-btn button {
  background-color: #505050;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}
